<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE-edge">

    <title>NATHANIEL'S PROJECT</title>

    <meta name = "description" content = "">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <link rel = "stylesheet" href = "">
</head>
<body bgcolor = "grey">
    <div class = "container" >
        <style>
            div{
                color : cyan;
                width : 80%;
                text-align : center;
                margin-left :auto;
                margin-right : auto;
            }
        </style>
        {% block content %}

        {% endblock content %}
    </div>
    <script src = "" async defer></script>
</body>
</html>